*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f3f4f6;
    color:#222;
}

/* NAVBAR */

.navbar{
    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;
    padding:15px 40px;
    box-shadow:0 2px 12px rgba(0,0,0,.08);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#2563eb;
    text-decoration:none;
}

.search-box input{
    width:300px;
    padding:10px 16px;
    border:none;
    outline:none;
    border-radius:30px;
    background:#eef2ff;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:bold;
    transition:.3s;
}

.nav-links a:hover{
    color:#2563eb;
}

.container{
    width:95%;
    max-width:1300px;
    margin:30px auto;
}

@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .search-box input{
        width:100%;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

}